[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "TBXML"]
	path = TBXML
	url = https://github.com/71squared/TBXML.git
[submodule "JTCalendar"]
	path = JTCalendar
	url = https://github.com/jonathantribouharet/JTCalendar.git
[submodule "mailcore2"]
	path = mailcore2
	url = https://github.com/MailCore/mailcore2.git
[submodule "JFCommon"]
	path = JFCommon
	url = https://github.com/jayfuerstenberg/JFCommon.git
[submodule "KeychainAccess"]
	path = KeychainAccess
	url = https://github.com/kishikawakatsumi/KeychainAccess.git
